.main-body {
    margin-top: 3%;
}

.lib-book-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 13em;
    max-height: 13em;
}

.lib-book-content {
    margin-top: 2em;
    margin-bottom: 2em;
}

.lib-book-image-container {
    margin-left:auto;
    margin-right: auto;
    width: 55%;
}

.lib-book-image-container-3d {
    margin-left:auto;
    margin-right: auto;
    width:65%
}

.dashboard-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    vertical-align: bottom;
    width: 50px;
    height: 510px;
}

.dashboard-container {
    background-color: #5f9ea0;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}