.main-body {
    margin-top: 3%;
}

.lib-book-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 13em;
    max-height: 13em;
}

.lib-book-content {
    margin-top: 2em;
    margin-bottom: 2em;
}

.lib-book-image-container {
    margin-left:auto;
    margin-right: auto;
    width: 55%;
}

.lib-book-image-container-3d {
    margin-left:auto;
    margin-right: auto;
    width:65%
}

.dashboard-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    font-weight: bolder;
   white-space: nowrap;
    -webkit-transform: translate(0,100%) rotate(-90deg);
    -moz-transform: translate(0,100%) rotate(-90deg);
    -ms-transform: translate(0,100%) rotate(-90deg);
    -o-transform: translate(0,100%) rotate(-90deg);
    transform: translate(0,100%) rotate(-90deg);
}

.dashboard-blue {
    /*background-color: #7f81b1;*/
    background-image:
    linear-gradient(
      to top right, 
      #75AF96, #061539
    );
}

.dashboard-blue .dashboard-heading{
    color: whitesmoke;
}

.dashboard-blue .dashboard-content-highlighted{
        color:#080b3b
}

.dashboard-blue .dashboard-content-normal {
    color:#191c59
}

.dashboard-green {
    /*background-color: #277553*/
    background-image:
    linear-gradient(
      to top right, 
      #76b295, #003A21
    );
}

.dashboard-green .dashboard-heading{
    color: whitesmoke;
}

.dashboard-green .dashboard-content-highlighted{
        color:#003a21
}

.dashboard-green .dashboard-content-normal {
    color:#0f5738
}

.dashboard-heading-container {
     width: 0;
  display: inline-block;
  letter-spacing: -1px;
  text-transform: uppercase;
  position: relative;
  padding-left: 3px;
  top: 180px;
  width: 16px;
}

.dashboard-content {
    vertical-align: text-bottom;
    margin-top: 15%
}

.dashboard-content-highlighted {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: bolder;
}

.dashboard-content-normal {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.dashboard-container {
    margin: 2em;
}

.dashboard-image-container {
    padding-bottom: 2em;
    padding-top: 2em;
    height: 26em;
}

.dashboard-image-container img {
    height: 22em;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}



